.footer__header {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  /* line-height: 60px; */
  color: #000000;
}

.footer__link {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  /* line-height: 60px; */
  color: #e32e30;
  text-decoration: none;
}
