// mobile

@media (max-width: 767px) {
  .header__wrp-balloon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    padding-top: 17px;
    // background-image: url(svg/cloudmobile.svg);
    .header__text-bottom {
      font-weight: $font-weight-base;
      color: $clr-text;
      white-space: nowrap;
    }
  }

  .img-balloon {
    width: 192px;
    height: 270px;
  }

  .header__text-bottom {
    margin: 0;
    font-size: $font-size-h-mobile;
    line-height: $line-height-h-mobile;
  }
}

// tablet

@media (min-width: 768px) and (max-width: 1199px) {
  .header__wrp-balloon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    margin-top: 257px;

    .header__text-bottom {
      font-weight: $font-weight-base;
      color: $clr-text;
      white-space: nowrap;
      margin: 0;
      padding-top: 64px;
    }
  }
  .img-balloon {
    width: 260px;
    height: 433px;
  }
}

// desktop

@media (min-width: 1200px) {
  .header__wrp-balloon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;

    .header__text-bottom {
      font-weight: $font-weight-base;
      color: $clr-text;
      white-space: nowrap;
      margin: 35px 116px 0 0;
    }
  }
  .img-balloon {
    display: none;
    // width: 369px;
    // height: 617px;
  }
}
