div.container
 section.section
  h3.section__header Special prices
  div.section__wrp
   div.step__wrp.step__wrp--one
    p.step__text.step__text--one
     |
     b &nbsp;100
     |&nbsp;Lorem ipsum dolo.Loremr adipiscing elit.
   div.step__wrp.step__wrp--two
    p.step__text.step__text--two
     b Lorem ip
     |&nbsp;Lorem ipsum dolor
     |
     b &nbsp;sale -70%
     sup *
     |&nbsp;Loremr adipiscing elit.
   div.step__wrp.step__wrp--three
    p.step__text.step__text--three Lorem ipsum dolorelit.
     |
     b &nbsp;200
     |&nbsp;Frem ipsum dolor sit amet, consectetur adipiscing elit.
     |
     b &nbsp;sale-70%
     |
     sup *
  a(href="#").section__link read more &#62;
