section.section__count
 h2.countdown-title Принимайте участие в акции уже сейчас! До окончания действия каталога осталось:
 div#countdown.countdown
  div.countdown-number
   span.days.countdown-time
   span.countdown-text дней
  div.countdown-number
   span.hours.countdown-time
   span.countdown-text часов
  div.countdown-number
   span.minutes.countdown-time
   span.countdown-text минут
  div.countdown-number
   span.seconds.countdown-time
   span.countdown-text секунд
div#app

