section.section__box.background
 div.wrapper-box
  div.box__wrp
   div.wrp__contain
    div.wrp__image._anim-items
     img(src="assets/svg/giftbox.svg" alt="some text").image-box1
    div.wrp__image._anim-items
     img(src="assets/svg/giftbox.svg" alt="some text").image-box1
   div.wrp__contain
    div.wrp__image._anim-items
     img(src="assets/svg/giftbox.svg" alt="some text")
    div.wrp__image._anim-items
     img(src="assets/svg/giftbox.svg" alt="some text")
    div.wrp__image._anim-items
     img(src="assets/svg/salebox.svg" alt="some text")
  div.box__button-link
   a(href="#").button__link New arrivals
 div.box__details
  h2.box__header-box Become a member today&nbsp;
   |
   a(href="#").header-box__link Sale.com
  p.box__text
   |
   sup *
   | Get access to the latest digital features such as image search and in-store mode. Activate push notifications to be the first to know about our great offers and collections!
