div.wrp__questions
 section.section__questions
  h2.questions__header Faq
  ul.questions__list
   li.questions__item
    div.question
     span.questions__number 1
     span.questions__text Cras lectus orci, sollicitudin eget commodo vitae?
      |
      br
      | Cras lectus orci, sollicitudin eget commodo vitae.
    div.answers
     span Cras lectus
      |
      br
      | Cras lectus orci, sollicitudin eget commodo vitae.
      br
      | Cras lectus orci, solludin commodo vitae.
      br
      | Sed ligula ipsum, bibendum nec malesuada ut, sodales ut felis.
      br
      | Sed ligula ipsum, sodales ut felis.
      br
      | Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo.
   li.questions__item
    div.question
     span.questions__number 2
     span.questions__text Fusce tempus, erat elementum?
    div.answers
     span Fusce tempus, erat elementum molestie sollicitudin,
      |
      br
      | Fusce tempus, erat elementum molssa quis leo.
   li.questions__item
    div.question
     span.questions__number 3
     span.questions__text Fusce tempus, erat elementum molestie sollicitudin, ipsum nis leo
      |
      br
      | Fuseste, a convallis lacus massa quis leo?
    div.answers
     span Pacerat ante, a convallis lacus massa quis leo.
   li.questions__item
    div.question
     span.questions__number 4
     span.questions__text Fusce tempus, e lacus massa quis leo
      |
      br
      | Fusce tempus, erat elementum molestie sollici?
    div.answers
     span Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo.
   li.questions__item
    div.question
     span.questions__number 5
     span.questions__text Fusce tempus?
    div.answers
     span Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo.
   li.questions__item
    div.question
     span.questions__number 6
     span.questions__text Fusce tempus, erat elementum molest?
    div.answers
     span Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo.
   li.questions__item
    div.question
     span.questions__number 7
     span.questions__text Fusce tempus, erat elementum
      |
      br
      | Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla pla?
    div.answers
     span Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo.
      |
      br
      | Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo.
   li.questions__item
    div.question
     span.questions__number 8
     span.questions__text Aliquam in congue risus
      |
      br
      | iquam in congue risus?
    div.answers
     span Cras lectus orci, sollicitudin eget commodo vitae, tristique eu leo. Suspendisse ut ultrices urna, vitae dignissim leo. Fusce tempus, erat elementum molestie sollicitudin, ipsum nulla placerat ante, a convallis lacus massa quis leo. Nulla eleifend orci mi, ut suscipit felis finibus sit amet. Phasellus vitae mi at urna tristique scelerisque eget faucibus metus. Nunc viverra ac ex a convallis. Quisque varius lorem arcu, a feugiat purus gravida id.
   li.questions__item
    div.question
     span.questions__number 9
     span.questions__text Mauris ante arcu, pretium a maximus id?
    div.answers
     span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      |
      br Quisque varius lorem arcu, a feugiat purus gravida id.
      |
      br
      | Quisque varius lorem arcu, a feugiat purus gravida id.
   li.questions__item
    div.question
     span.questions__number 10
     span.questions__text Auris ante arcuium a maximus id?
    div.answers
     span Quisque varius lorem arcu, a feugiat purus gravida id.
      |
      br
      |Quisque varius lorem arcu, a feugiat purus gravida id.
  a(href="#").button__link.button__link_questions product
