div.container__facts
 section.section__facts
  div.wrp__facts
   div.wrp__title
    h2.facts__header Факты о компании
    img(src="assets/jpg/group.png" alt="фоновый рисунок").background__group
    img(src="assets/jpg/team.png" alt="фоновый рисунок").background__team
   div.wrp__link
    a(href="#").facts__link #давайтезнакомиться
   div.wrp__text
    p.facts__text Faberlic – единственная российская компания,
     |
     br
     | которая уже более 14 лет входит в
     b &nbsp;топ-100
     | &nbsp;крупнейших
     br
     | парфюмерно-косметических компаний мира, а в
     br
     | кризисном 2015-м году заняла 3 место по темпам
     br
     | роста
     sup *
     | . За право попасть в этот рейтинг ежегодно
     br
     | борются более 50 000 брендов.
    p.facts__text.facts__text--italic
     |
     sup *
     | Рейтинг ежегодно публикуется в журнале Woman’s Wear Daily.
   div.wrp__bg-image
    picture
     source(media='(min-width: 320px', srcset='assets/jpg/bg.jpg 2x')
     img(src="assets/jpg/bg.jpg" alt="фоновый рисунок").background__image
   div.wrp__bg-group
  div.advantages__wrp
   ul.advantages__list
    li.advantages__item
     span.advantages__span 1
     p.advantages__text
      |
      a(href="#").advantages__link 23 года успеха:
      | &nbsp;на рынке с 1997 года
    li.advantages__item
     span.advantages__span 2
     p.advantages__text Собственные
      |
      a(href="#").advantages__link &nbsp;научные разработки
    li.advantages__item
     span.advantages__span 3
     p.advantages__text Продажи более чем
      |
      a(href="#").advantages__link &nbsp;в 40 странах
    li.advantages__item
     span.advantages__span 4
     p.advantages__text Собственное
      |
      a(href="#").advantages__link &nbsp;производство
    li.advantages__item
     span.advantages__span 5
     p.advantages__text Нас выбирают
      |
      a(href="#").advantages__link &nbsp;10 000 000 семей
    li.advantages__item
     span.advantages__span 6
     p.advantages__text
      |
      a(href="#").advantages__link Более 30
      | &nbsp;уникальных патентов на продукцию
