section.section__count
 h2.countdown-title Take part in the promotion now!
 div#countdown.countdown
  div.countdown-number
   span.days.countdown-time
   span.countdown-text day
  div.countdown-number
   span.hours.countdown-time
   span.countdown-text hours
  div.countdown-number
   span.minutes.countdown-time
   span.countdown-text minutes
  div.countdown-number
   span.seconds.countdown-time
   span.countdown-text seconds
div#app

