div.container
 section.section
  h3.section__header Условия акции
  div.section__wrp
   div.step__wrp.step__wrp--one
    p.step__text.step__text--one Оформляйте и оплачивайте заказы
     |
     b &nbsp; от 1000 р.
     |&nbsp; каждый каталог
   div.step__wrp.step__wrp--two
    p.step__text.step__text--two
     b С третьего
     |&nbsp;каталога и далее получайте
     |
     b &nbsp;скидку -70%
     sup *
     |&nbsp;на любимый продукт
   div.step__wrp.step__wrp--three
    p.step__text.step__text--three Продолжайте делать покупки
     |
     b &nbsp;от 1000 р.
     |&nbsp;и в каждом каталоге выбирайте любимый продукт
     |
     b &nbsp;со скидкой -70%
     |
     sup *
  a(href="#").section__link Полные правила акции &#62;
