div.wrp__questions
 section.section__questions
  h2.questions__header Вопросы и Ответы
  ul.questions__list
   li.questions__item
    div.question
     span.questions__number 1
     span.questions__text Периоды действия акции - 16/2020 – 7/2021. Будут ли учитываться заказы от 1 000 руб.
      |
      br
      | в ценах каталога в периодах 14 и 15/2020 для получения скидки 70%?
    div.answers
     span Да, будут.
      |
      br
      | Если Консультант оплатил заказ от 1000 руб. в ценах каталога в периоде 14 и 15,
      br
      | то уже в каталоге 16 его ждет скидка 70%.
      br
      | Если Консультант оплатил заказ от 1000 руб. в периоде 15 (но не делал этого в периоде 14),
      br
      | ему необходимо оплатить заказ от 1000 руб. в каталоге 16, и скидка 70% будет доступна
      br
      | уже в периоде 17.
   li.questions__item
    div.question
     span.questions__number 2
     span.questions__text Войдет ли в акцию продукция Wellness, в частности, коктейли?
    div.answers
     span Да. В акции участвуют парфюмерная и косметическая продукция, косметика для дома,
      |
      br
      | чулочно-носочные изделия, продукты категории Wellness.
   li.questions__item
    div.question
     span.questions__number 3
     span.questions__text Если Консультант делает заказы от 1000 руб. каждый каталог и в 16 каталоге не воспользуется
      |
      br
      | скидкой 70%, то скидка 70% пропадает?
    div.answers
     span Скидкой 70% вы можете воспользоваться только в одном периоде.
   li.questions__item
    div.question
     span.questions__number 4
     span.questions__text Будет ли у Директора отчет, фиксирующий участие Консультантов его структуры в акции с указанием
      |
      br
      | количества периодов участия?
    div.answers
     span В данный момент такой возможности нет.
   li.questions__item
    div.question
     span.questions__number 5
     span.questions__text Продукты со скидкой 70% будут с полными баллами?
    div.answers
     span Баллы рассчитываются по стандартной схеме, вы их увидите при оформлении заказа.
   li.questions__item
    div.question
     span.questions__number 6
     span.questions__text Учитываются заказы от 1 000 руб. в ценах каталога или в ценах Консультанта?
    div.answers
     span Для участия в акции необходимо делать заказы от 1 000 руб. в ценах каталога.
   li.questions__item
    div.question
     span.questions__number 7
     span.questions__text Как будет осуществляться возврат денежных средств и перерасчет акции при оформлении
      |
      br
      | возврата на продукт со скидкой 70%?
    div.answers
     span Возврат денег происходит как обычно, по правилам Компании. Возможность воспользоваться скидкой
      |
      br
      | 70% вы сможете в разделе «Ваши персональные акции – Товары по старым ценам».
   li.questions__item
    div.question
     span.questions__number 8
     span.questions__text Будет ли подсветка в личном кабинете Консультанта с информированием об участии в акции, количестве
      |
      br
      | периодов участия, выполненных условиях и т.д.?
    div.answers
     span В данный момент такой возможности нет.
   li.questions__item
    div.question
     span.questions__number 9
     span.questions__text Если Консультант выкупил заказ от 1000 руб. и оформил претензию, сработает ли акция?
    div.answers
     span Выполнение условия с заказом от 1000 руб. засчитывается на момент оплаты заказа. Если
      |
      br
      | Консультант оформил возврат продукции, то в следующем периоде сумма заказа должна быть
      br
      | увеличена на сумму возврата в ценах каталога (1000 руб. + сумма возврата).
   li.questions__item
    div.question
     span.questions__number 10
     span.questions__text Заказ от 1000 руб. должен быть единоразовым или суммарным?
    div.answers
     span Необходимо оформить заказ от 1000 руб. в ценах каталога единоразово или несколько заказов
      |
      br
      | суммарно от 1000 руб. в ценах каталога за период.
  a(href="#").button__link.button__link_questions Перейти к покупкам
