div.container__facts
 section.section__facts
  div.wrp__facts
   div.wrp__title
    h2.facts__header How it works
    img(src="assets/jpg/group.png" alt="img").background__group
    img(src="assets/jpg/team.png" alt="img").background__team
   div.wrp__link
    a(href="#").facts__link Facts about the company
   div.wrp__text
    p.facts__text Cras lectus orci. Suspendisse ut ultrices.
     |
     br
     |  Phasellus vitae mi at
     b &nbsp;top 100
     | &nbsp; vitae
     br
     |  Phasellus vitae mi atut ultrices.
     br
     | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     br
     | dolor
     sup *
     | . Etiam laoreet suscipit mi ut ultrices.
     br
     | Aenean rutrum nulla vitae
    p.facts__text.facts__text--italic
     |
     sup *
     | Sed sed aliquam leo. In lacus est, venenatis ut dolor ac.
   div.wrp__bg-image
    picture
     source(media='(min-width: 320px', srcset='assets/jpg/bg.jpg 2x')
     img(src="assets/jpg/bg.jpg" alt="background image").background__image
   div.wrp__bg-group
  div.advantages__wrp
   ul.advantages__list
    li.advantages__item
     span.advantages__span 1
     p.advantages__text
      |
      a(href="#").advantages__link 23 Lorem ipsum
      | &nbsp;Lorem ipsum dolor sit amet
    li.advantages__item
     span.advantages__span 2
     p.advantages__text Ipsum dolor
      |
      a(href="#").advantages__link &nbsp;Lorem ipsum dolor sit
    li.advantages__item
     span.advantages__span 3
     p.advantages__text Lorem ipsum
      |
      a(href="#").advantages__link &nbsp;Lorem ipsum 50
    li.advantages__item
     span.advantages__span 4
     p.advantages__text Lorem ipsum
      |
      a(href="#").advantages__link &nbsp;Lorem
    li.advantages__item
     span.advantages__span 5
     p.advantages__text Lorem ipsum dolor
      |
      a(href="#").advantages__link &nbsp;10 Lorem ipsum
    li.advantages__item
     span.advantages__span 6
     p.advantages__text
      |
      a(href="#").advantages__link Lorem ipsum
      | &nbsp;lorem ipsum dolor sit amet
