section.section__box.background
 div.wrapper-box
  div.box__wrp
   div.wrp__contain
    div.wrp__image._anim-items
     img(src="assets/svg/box.svg" alt="подарок от 1000 рублей").image-box1
    div.wrp__image._anim-items
     img(src="assets/svg/box.svg" alt="подарок от 1000 рублей").image-box1
   div.wrp__contain
    div.wrp__image._anim-items
     img(src="assets/svg/boxtext.svg" alt="подарок от 1000 рублей")
    div.wrp__image._anim-items
     img(src="assets/svg/boxtext.svg" alt="подарок от 1000 рублей")
    div.wrp__image._anim-items
     img(src="assets/svg/boxtext.svg" alt="подарок от 1000 рублей")
  div.box__button-link
   a(href="#").button__link Перейти к покупкам
 div.box__details
  h2.box__header-box ПОДРОБНОСТИ У ВАШЕГО КОНСУЛЬТАНТА И НА&nbsp;
   |
   a(href="#").header-box__link FABERLIC.COM
  p.box__text
   |
   sup *
   | Скидка -70% будет доступна в разделе «Ваши персональные акции», когда корзина наполнится на сумму от 1000 руб. в ценах каталога. Скидка -70% предоставляется на один продукт на выбор. В акции участвуют парфюмерная и косметическая продукция, косметика для дома, чулочно-носочные изделия, продукты категории Wellness.
