head
  meta(charset='UTF-8')
  title faberlic
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')

  link(rel='stylesheet' href='assets/base/b_normalize.css')
  link(rel='stylesheet' href="assets/app.css")
  link(rel='stylesheet' href="assets/styleguide.css")
  link(rel='stylesheet' href="assets/base/b_font_face.css")

  link(rel="preload" as="font" type="font/woff2" href="assets/ProximaNova-Regular.woff2" crossorigin)
  link(rel="preload" as="font" type="font/woff2" href="assets/ProximaNova-Bold.woff2" crossorigin)
  link(rel="preload" as="font" type="font/woff2" href="assets/ProximaNova-Semibold.woff2" crossorigin)
