header.header
 div.container.wrp-header
  div.header__wrp
   h2.header__sale новая акция!
   p.header__text для зарегистрированных покупателей
   img(src="assets/svg/heart.svg" width="60" height="53" alt="like faberlic").like
   b.header__logo Faberlic
   img(src="assets/svg/saleheader.svg" width="232" height="66" alt="-70 процентов").sale
   p.header__text-product на любимый продукт
   div.header__link
    a(href="#").button__link Начать шопинг
   a(href="#").header__share Поделиться &#62;
  div.header__wrp-balloon
   picture
    img(src="assets/svg/balloon.svg" alt="фотография подарка от faberlic").img-balloon.balloon-trans
   p.header__text-bottom
    |
    sup *
    | см. условия акции
