header.header
 div.container.wrp-header
  div.header__wrp
   h2.header__sale Sale
   p.header__text Shop the sale online and stock up on lots of great deals!
   img(src="assets/svg/heart.svg" width="60" height="53" alt="img").like
   b.header__logo Sale
   img(src="assets/svg/saleheader.svg" width="232" height="66" alt="70% sale").sale
   p.header__text-product It pays off to be a member
   div.header__link
    a(href="#").button__link Start shopping
   a(href="#").header__share share &#62;
  div.header__wrp-balloon
   picture
    img(src="assets/svg/balloon.svg" alt="img").img-balloon.balloon-trans
   p.header__text-bottom
    |
    sup *
    | see more
